<div class="">
  <div class="row">
    <div class="p-2" *ngIf="heroes.length <= 0">
      <p>No results.......</p>
    </div>

    <div class="card col-md-6" 
    style="width: 18rem; margin: 25px;" 
    *ngFor="let hero of heroes | paginate: { itemsPerPage: 6, currentPage: page }">
        <img [src]="hero.image" 
        class="card-img-top" 
        style="object-fit: cover;" 
        [alt]="hero.name + ' img'">
        <div class="card-body">
        <div>
            <div *ngIf="hero.gender ==='male'; female">
             <app-svg-men></app-svg-men>
            </div>
            <ng-template #female><app-svg></app-svg></ng-template>
        </div>
          <h5 class="card-title">{{hero.name}}</h5>
          <a routerLink="/detail/{{hero.id}}" class="btn text-white" style="background-color: #101010;">more</a>
        </div>
    </div>

    <div class="pagination container-lg text-center" style="margin: 25px;">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

</div>
</div>

