<div class="row">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let hero of heroes">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ hero.name }}</h4>
          <p class="list-group-item-text">{{ hero.status }}</p>
        </div>
        <!-- <span class="pull-left">
          <img
            [src]="hero.imagePath"
            alt="{{ hero.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span> -->
      </a>
      <app-hero></app-hero>
    </div>
</div>
