<div class="container-sm-3" style="text-align: center" *ngIf="hero">
  <img [src]="hero.image" class="img-responsive" style="object-fit: cover;" [alt]="hero.name + ' img'">

    <h2>{{hero.name | uppercase}} info</h2>
    <div><span>gender: </span>{{hero.gender}}</div>
    <div><span>species: </span>{{hero.species}}</div>
    <div><span>status: </span>{{hero.status}}</div>
    <div><a *ngFor="let ep of hero.episode">{{ep}}</a></div>

      
  
</div>

<button type="button" class="btn text-white" style="background-color: #101010;" (click)="goBack()">go back</button>